# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environment
venv/
env/
ENV/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.log

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db